@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    height: 600px;
}

.swiper-slide.swiper-slide-prev > div,  .swiper-slide.swiper-slide-next > div{
    position: relative;
    height: 80%;
    /* top: 30%; */
}

.swiper-slide.swiper-slide-active {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.5) !important;
    z-index: 2;
    top: 30%;
}

.swiper-slide.swiper-slide-prev > div::after, .swiper-slide.swiper-slide-next > div::after {
    position: absolute;
    content: '';
    background: rgba(0, 128, 0, 0.166);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}